/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face{
    font-family: "Merriweather-bold";
    src: url("../../inhabitant-assets/fonts/Merriweather/Merriweather-Bold.ttf");
}
@font-face{
    font-family: "Merriweather-light";
    src: url("../../inhabitant-assets/fonts/Merriweather/Merriweather-Light.ttf");
}
@font-face{
    font-family: "Novecentosanswide-normal";
    src: url("../../inhabitant-assets/fonts/Novecento/Novecentosanswide-Normal.ttf");
}
@font-face{
    font-family: "Novecentosanswide-bold";
    src: url("../../inhabitant-assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf");
}