#colophon {
    background-image: url("../../inhabitant-assets/images/dark-wood@2x.png");
    background-size: 512px 512px;;
    padding-top: 55px;
    font-family: Merriweather-light;
    font-size: 1.2rem;
    h5 {
        color: white;
       }
    #mainFooterContainer{
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
        h3 {
            margin: 0px;
            color: #d99054;
            text-transform: uppercase;
            font-size: 1.2rem;
           }
           
           i {
            color: white;
           }
           #logo{
            width: 280px;
           }
       }
    .end-copyright{
        text-align: center;
        text-transform: uppercase;
    }
   }
   a{
       text-decoration: none;
       &:hover{
           text-decoration: underline;
           color: #fff;
       }
   }

   

