#colophon {
    background-image: url("../../inhabitant-assets/images/dark-wood@2x.png");
    background-size: cover;
   }
   h4 {
    color: orange;
   }
   h5 {
    color: white;
   }
   i {
    color: white;
   }

   #logo{
       fill: white;
   }