

#nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 8.5%;
    align-items: center;
}

.site-title{
    margin: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 50px;
    background: url("../../inhabitant-assets/images/logos/inhabitent-logo-tent-white.svg") no-repeat;
    background-size: 50px 33px;
}

header{
    width: 100%;
    position: absolute;
}
.scroll-header{
    position: fixed;
    color: #248A83;
    border-bottom: 1px solid $light-grey;
    a:visited{
        color: #248A83;
    }
    .site-title{
    background: url("../../inhabitant-assets/images/logos/inhabitent-logo-tent.svg") no-repeat;
    background-size: 50px 33px;

    }
}

li{
    text-transform: uppercase;
    font-family: $nova-norm;
    padding-left: 20px;
}


#site-navigation{
    width: fit-content;
    height: fit-content;
}

// *{
//     border: 1px solid black;
// }
