/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

h3 {
	color: orange;
	margin-bottom: 0px;
   }
  .day{
	  color: white;
	  span {
	font-weight: bold;
   }
  } 
span {
	color: white;
	font-weight: bold;
   }

   .hours{
	   display: flex;

   }
   .day{
	margin-bottom: 0px;
   }

